<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-align-self-center" size="12">
          <ion-img src="https://www.pngitem.com/pimgs/m/128-1280162_github-logo-png-cat-transparent-png.png" class="img-logo"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-align-self-center" size="12">
          <ion-button color="dark" (click)="login()" shape="round">iniciar sesión con Github</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
